.sjcqc { 
  padding-top: 65px;
  margin-top: 64px;
  line-height: 42px;
  border-bottom-width: 90px;
  font-size: 55px;
  padding-bottom: 16px;
  padding-right: 83px;
  border-top-width: 72px;
  border-right-width: 38px;
  border-left-width: 45px;
  padding-top: 95px;
  border-right-width: 52px;
  margin-right: 97px;
  margin-right: 0px;
  border-left-width: 96px;
  margin-top: 66px;
  margin-bottom: 14px;
  border-top-width: 11px;
}
